.table-sm-aux {
    font-size: .875rem !important;
}

.table-sm-aux th,
.table-sm-aux td {
    padding: .6rem;
}

.btn-sm-aux {
    padding: .2rem .50rem;
    margin-top: -3px;
    margin-bottom: -3px;
}

.form-control-noinput {
    padding: 1rem !important;
}

.monto-nofinal {
    text-align: right;
    padding-right: 20px;
}

@media (min-width: 992px) {
    .modal-lg-aux {
        max-width: 950px !important;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .modal-lg-aux {
        max-width: 90% !important;
    }
}